
name: federated-learning

services:
  server:
    build: ./server
    container_name: fl-server
    ports:
      - "8080:8080"
    networks:
      - flnet
    environment:
      - TOTAL_CLIENTS=5 


  client1:
    build: ./client
    container_name: fl-client1
    environment:
      - CLIENT_ID=1
      - TOTAL_CLIENTS=5
    depends_on:
      - server
    networks:
      - flnet

  client2:
    build: ./client
    container_name: fl-client2
    environment:
      - CLIENT_ID=2
      - TOTAL_CLIENTS=5
    depends_on:
      - server
    networks:
      - flnet

  client3:
    build: ./client
    container_name: fl-client3
    environment:
      - CLIENT_ID=3
      - TOTAL_CLIENTS=5
    depends_on:
      - server
    networks:
      - flnet

  client4:
    build: ./client
    container_name: fl-client4
    environment:
      - CLIENT_ID=4
      - TOTAL_CLIENTS=5
    depends_on:
      - server
    networks:
      - flnet

  client5:
    build: ./client
    container_name: fl-client5
    environment:
      - CLIENT_ID=5
      - TOTAL_CLIENTS=5
    depends_on:
      - server
    networks:
      - flnet

networks:
  flnet:
    driver: bridge
