
name: federated-learning

services:
  server:
    build: ./server
    container_name: fl-server
    ports:
      - "8080:8080"
    networks:
      - flnet
    environment:
      - TOTAL_CLIENTS=2 


  client1:
    build: ./client
    container_name: fl-client1
    environment:
      - CLIENT_ID=1
      - TOTAL_CLIENTS=2
    depends_on:
      - server
    networks:
      - flnet

  client2:
    build: ./client
    container_name: fl-client2
    environment:
      - CLIENT_ID=2
      - TOTAL_CLIENTS=2
    depends_on:
      - server
    networks:
      - flnet

networks:
  flnet:
    driver: bridge
